/**
 * General variables
 */
/**
 * General configs
 */
* {
  box-sizing: border-box;
}



button {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-family: 'Mada', sans-serif;
}

input {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
}
input[type="submit"] ,input[type="button"]{
  cursor: pointer;
}
input::-webkit-input-placeholder {
  font-size: 0.95rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #ccc;
}
input::-moz-placeholder {
  font-size: 0.95rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #ccc;
}
input:-ms-input-placeholder {
  font-size: 0.95rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #ccc;
}
input::-ms-input-placeholder {
  font-size: 0.95rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #ccc;
}
input::placeholder {
  font-size: 0.95rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #ccc;
}

/**
 * Bounce to the left side
 */
@-webkit-keyframes bounceLeft {
  [dir ='ltr']0% {
    -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
  }
  [dir ='ltr']50% {
    -webkit-transform: translate3d(-30px, -50%, 0);
            transform: translate3d(-30px, -50%, 0);
  }
  [dir ='rtl']0% {
    -webkit-transform: translate3d(-100%, -50%, 0);
            transform: translate3d(-100%, -50%, 0);
  }
  [dir ='rtl']50% {
    -webkit-transform: translate3d(30px, -50%, 0);
            transform: translate3d(30px, -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
}
@keyframes bounceLeft {
  [dir ='ltr']0% {
    -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
  }
  [dir ='ltr']50% {
    -webkit-transform: translate3d(-30px, -50%, 0);
            transform: translate3d(-30px, -50%, 0);
  }
  [dir ='rtl']0% {
    -webkit-transform: translate3d(-100%, -50%, 0);
            transform: translate3d(-100%, -50%, 0);
  }
  [dir ='rtl']50% {
    -webkit-transform: translate3d(30px, -50%, 0);
            transform: translate3d(30px, -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
}
/**
 * Bounce to the left side
 */
@-webkit-keyframes bounceRight {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  [dir ='ltr'] 50% {
    -webkit-transform: translate3d(calc(100% + 30px), -50%, 0);
            transform: translate3d(calc(100% + 30px), -50%, 0);
  }
  [dir ='ltr'] 100% {
    -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
  }
  [dir ='rtl'] 50% {
   -webkit-transform: translate3d(calc(-1*(100% + 30px)), -50%, 0);
            transform: translate3d(calc(-1*(100% + 30px)), -50%, 0);
  }
  [dir ='rtl'] 100% {
    -webkit-transform: translate3d(-100%, -50%, 0);
            transform: translate3d(-100%, -50%, 0);
 }
}
@keyframes bounceRight {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  [dir ='ltr'] 50% {
    -webkit-transform: translate3d(calc(100% + 30px), -50%, 0);
            transform: translate3d(calc(100% + 30px), -50%, 0);
  }
  [dir ='ltr'] 100% {
    -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
  }
  [dir ='rtl'] 50% {
     -webkit-transform: translate3d(calc(-1*(100% + 30px)), -50%, 0);
            transform: translate3d(calc(-1*(100% + 30px)), -50%, 0);
  }
  [dir ='rtl'] 100% {
	-webkit-transform: translate3d(-100%, -50%, 0);
            transform: translate3d(-100%, -50%, 0);

  }
}
/**
 * Show Sign Up form
 */
@-webkit-keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
/**
 * Page background
 */
.user {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
    justify-content: center;
  -webkit-box-align: center;
    align-items: center;
  width: 100%;
  height: 125vh;
  background-size: cover;
  font-family: 'Amiri', serif;
}
.user_options-container {
  position: relative;
  width: 90%;
}
.user_options-text {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.85);
  border-radius: 3px;
}

/**
 * Registered and Unregistered user box and text
 */
.user_options-registered,
.user_options-unregistered {
  width: 50%;
  padding: 75px 45px;
  color: #fff;
  font-weight: 300;
}

.user_registered-title,
.user_unregistered-title {
  margin-bottom: 15px;
  font-size: 1.66rem;
  line-height: 1em;
  
}

.user_unregistered-text,
.user_registered-text {
  font-size: 0.83rem;
  line-height: 1.4em;
}

.user_registered-login,
.user_unregistered-signup {
  margin-top: 30px;
  border: 1px solid var(--main-color);
  border-radius: 3px;
  padding: 10px 30px;
  color: var(--main-color);
  text-transform: uppercase;
  line-height: 1em;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.user_registered-login:hover,
.user_unregistered-signup:hover {
  color: rgba(34, 34, 34, 0.85);
  background-color: var(--main-color);
}

/**
 * Login and signup forms
 */
.user_options-forms {
  position: absolute;
  top: 50%;

  width: calc(50% - 30px);
  min-height: 670px;
  background-color: #fff;
  border-radius: 3px;

  overflow: hidden;

  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
[dir ='ltr'] .user_options-forms {
  left: 30px;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
  -webkit-transform: translate3d(100%, -50%, 0);
          transform: translate3d(100%, -50%, 0);
}
[dir ='rtl'] .user_options-forms {
  right: 30px;
  box-shadow: -2px 0 15px rgba(0, 0, 0, 0.25);
  -webkit-transform: translate3d(-100%, -50%, 0);
          transform: translate3d(-100%, -50%, 0);
}
.user_forms-login {
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
 .forms_title {
  margin-bottom: 45px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
  color: var(--second-color);
  font-family: 'Mada', sans-serif;
}
 .forms_field:not(:last-of-type) {
  margin-bottom: 20px;
}

 .forms_field-input {
  width: 100%;
  border-bottom: 1px solid #000;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: gray;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}
[dir ='ltr']  .forms_field-input {
  padding: 6px 20px 6px 6px;
}
[dir ='rtl']  .forms_field-input {
  padding: 6px 6px 6px 20px;
}
.forms_field-input.bigger
{
	font-size: 2rem;
}

.forms_field-input.more-bigger
{
	font-size: 3rem;
}
 .forms_field-input:focus {
  border-color: red;
}
 .forms_buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 35px;
}
.user_options-forms .forms_buttons-forgot {
  font-family: 'Cairo', sans-serif;
  color: #000;
  text-decoration: underline;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.user_options-forms .forms_buttons-forgot:hover {
  color: var(--main-color);
}
.forms_buttons-action {
  background-color: var(--second-color);
  border-radius: 3px;
  padding: 10px 35px;
  font-size: 1rem;
  font-family: 'Mada', sans-serif;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.forms_buttons-action i {
  font-size:12px;
  }
 .forms_buttons-action:hover {
  background-color: var(--main-color);
}
 .forms_buttons-action:focus {
  background-color: var(--main-color);
}
.user_options-forms .user_forms-signup,
.user_options-forms .user_forms-login {
  position: absolute;
  top: 50px;
  
  width: calc(100% - 80px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
[dir ='ltr'] .user_options-forms .user_forms-signup,
.user_options-forms .user_forms-login {
  left: 40px;
}
[dir ='rtl'] .user_options-forms .user_forms-signup,
.user_options-forms .user_forms-login {
  right: 40px;
}
[dir ='ltr'].user_options-forms .user_forms-signup {
  -webkit-transform: translate3d(120px, 0, 0);
          transform: translate3d(120px, 0, 0);
}
[dir ='rtl'].user_options-forms .user_forms-signup {
  -webkit-transform: translate3d(-120px, 0, 0);
          transform: translate3d(-120px, 0, 0);
}
.user_options-forms .user_forms-signup .forms_buttons {
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.user_options-forms .user_forms-login {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

/**
 * Triggers
 */
.user_options-forms.bounceLeft {
  -webkit-animation: bounceLeft 1s forwards;
          animation: bounceLeft 1s forwards;
}
.user_options-forms.bounceLeft .user_forms-signup {
  -webkit-animation: showSignUp 1s forwards;
          animation: showSignUp 1s forwards;
}
.user_options-forms.bounceLeft .user_forms-login {
  opacity: 0;
  visibility: hidden;
}
[dir ='ltr'] .user_options-forms.bounceLeft .user_forms-login {
  -webkit-transform: translate3d(-120px, 0, 0);
          transform: translate3d(-120px, 0, 0);
}
[dir ='rtl'] .user_options-forms.bounceLeft .user_forms-login {
  -webkit-transform: translate3d(120px, 0, 0);
          transform: translate3d(120px, 0, 0);
}
.user_options-forms.bounceRight {
  -webkit-animation: bounceRight 1s forwards;
          animation: bounceRight 1s forwards;
}

/**
 * Responsive 990px
 */
@media screen and (max-width: 990px) {
  .user_options-forms {
    min-height: 670px;
	top: 20%;
	font-size: 0.5rem;
  }
  .user_options-forms .forms_buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .user_options-forms .user_forms-login .forms_buttons-action {
    margin-top: 50px;
  }
  .user_options-forms .user_forms-signup,
  .user_options-forms .user_forms-login {
    top: 40px;
  }

  .user_options-registered,
  .user_options-unregistered {
    padding: 50px 45px;
  }
}

/*me*/
/* Reset Select */
.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
.select select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
.select select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
  color: var(--second-color);
}
[dir ='ltr'] .select::after {
  right: 0;
}
[dir ='rtl'] .select::after {
  left: 0;
}
/* Transition */
.select:hover::after {
  color: var(--main-color);
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  
  bottom: calc((100% - 5px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;

	z-index:3;
}
[dir ='ltr'] .alert-validate::before { 
  right: 18%;
  text-align: left;
  padding: 4px 30px 4px 10px;

}
[dir ='rtl'] .alert-validate::before { 
  left: 18%;
  text-align: right;
  padding: 4px 10px 4px 30px;

}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  bottom: calc((100% - 10px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  
  z-index:3;
  
}
[dir ='ltr'] .alert-validate::after {
  right: 19%;
}
[dir ='rtl'] .alert-validate::after {
  left: 19%;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.true-validate::after {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 22px;
  color: #00ad5f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc((100% - 10px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);

}
[dir ='ltr'] .true-validate::after {
  right: 19%;
  
}
[dir ='rtl'] .true-validate::after {
  left: 19%;
  
}


